<h1 class="mb-3">Registrar Cliente</h1>

<div class="card p-4">
  <form method="POST" action="/clientes/nuevo">
    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input name="Nombre" class="form-control" required>
    </div>


<div class="mb-3">
  <label class="form-label">Apellidos</label>
  <input name="Apellidos" class="form-control" required>
</div>

<div class="mb-3">
  <label class="form-label">Email</label>
  <input name="Email" type="email" class="form-control" required>
</div>

<div class="mb-3">
  <label class="form-label">Teléfono</label>
  <input name="Telefono" class="form-control">
</div>

<button class="btn btn-success w-100">Guardar Cliente</button>


  </form>
</div>
